$text-color: #FFFFFF;
$bg-color: #0B223D;
$success: #2C7CD7;
$info: #FDE454;
$danger: #E6355E;

$padding-page: 32px;
$padding-heading: 8px;
$border-radius: 8px;
$border-radius-full: 50%;

*, ::before {   
    transition: all 0.2s ease-in;
    user-select: none;
}

body {
    color: $text-color;
    background-color: $bg-color;
    padding: $padding-page;
}

h1, h2 {
    width: fit-content;
    border-bottom: 3px solid $success;
    
    &:hover {
        border-color: $info;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  
    li {
        padding: 0;
        margin: 0;
        position: relative;
        margin-left: 30px;

        &::before {
        margin: 0px;
        padding: 0px;
        content: '';
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        border: 2px solid $success;
        border-radius: 50%;
        background-color: $bg-color;
        position: absolute;
        left: -1.5rem;
        top: 0.5rem;
        z-index: 1;
        }

        &:not(:last-child)::after {
        margin: 0px;
        padding: 0px;
        content: '';
        outline: 1px solid $success;
        position: absolute;
        display: inline-block;
        top: 1rem;
        left: -1.15rem;
        bottom: -1rem;
        z-index: 0;
        }

        &:hover {
            &::before {
                border-color: $info;
            }
      }
    }
}
  
